.container {
  margin: auto;
  width: 80%;
  max-width: 800px;
  text-align: center;
}

body{
	background-image: url("okay.jpg");
}

span{
	
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 50px;
}

p {
  font-size: 18px;
  margin-top: 20px;
}

form {
  margin-top: 30px;
  text-align: left;
}

label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-top: 5px;
  margin-right: 5px;
}

input[type="submit"] {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #3E8E41;
}
